/* Syntax :
    @keyframe myName {
        from {font-size : 20px;} Initial state
        to {font-size : 40px} Final state
    }      */  

    .box {
        height : 100px;
        width : 300px;
        background-color: pink;
        animation-name: widthAnimate;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        animation-delay: 0;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @keyframes fontAnimation {
        from {
            font-size : 20px;
        } 
        to {
            font-size : 40px;
        }
    }

    @keyframes colorAnimate {
        from {
            background-color : green;
        }
        to {
            background-color : blue;
        }
    }

    @keyframes widthAnimate {
        from {
            width : 10px;
        } 
        to {
            width : 400px;
        }
    }
