div {
    width : 400px;
    height : 200px;
    background-color: #7aa874;
    margin : 10px auto;
    background-image : url(goku.jpg);
    background-size : contain;
    box-shadow : 2px 2px 20px black;
}
