<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
</head>
<body>
    <h2>Edit Your Post </h2>
    <h3>Post id : <%= post.id %> </h3>
    <h3>Post username : <%= post.username%> </h3>
    <form>
        <textarea></textarea>
        <button>Submit</button>
    </form>
</body>
</html>